body{
  background-color:  lavenderblush;
}


.App {
   max-width:960px ;
   margin: 0 auto;
}

.App-header{
  margin:20px 0 auto;
  
  font-size: 50px;

}

.App footer{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.App a {
  color: black;
}